<div class="card mb-3 text-center">
  <div class="d-flex justify-content-center">
    <img
      src="{{ user.image }}"
      class="card-img-top rounded-circle mt-3"
      alt="{{ user.username }}"
    />
  </div>

  <div class="card-body">
    <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
    <p class="card-text">User Name: {{ user.username }}</p>
    <p class="card-text">Email: {{ user.email }}</p>
    <p class="card-text">Phone: {{ user.phone }}</p>
    <p class="card-text">BirthDate: {{ user.birthDate }}</p>

    <span class="badge" [ngClass]="getRoleColor()">{{ user.role }}</span>
  </div>
</div>
